.registration_page{
    margin-top: 180px;
    width: 504px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-color: midnightblue;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    margin-right: 300px;
}

.r{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body{
    background-image: url(https://i.pinimg.com/736x/38/e2/45/38e24583556ec368140620174068f71a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.first_name,
.last_name,
.password,
.email{
    height: 20px;
    width: 300px;
    border-radius: 20px;
    border-color: midnightblue;
    border-width: 3px;
}

.registration_button{
    height: 30px;
    width: 100px;
    border-radius: 20px;
    background-color: midnightblue;
    color: white;
    font-family: 'Jacquard 24', cursive;
    font-family: 'Playwrite CU Guides', cursive;
    cursor: pointer;
}

.registration_button:hover{
    background-color: white;
    color: midnightblue;
    border-color: midnightblue;
    border-radius: 20px;
}

.registration_button:active{
    background-color: midnightblue;
    color: white;
    border-color: midnightblue;
    border-radius: 20px;
}

.sign{
    margin-bottom: 35px;
    width: 50px;
    height: 20px;
    color: white;
    border-color: midnightblue;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    text-align: center;
    background-color: midnightblue;
}

.sign:active{
    color: lightblue;
}